@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Sree+Krushnadevaraya');

@font-face {
    font-family: 'Poiret One', sans-serif;
}

html, body, h1, h2, h3, h4, h5, h6, p {
  box-sizing: border-box;
  font-size: $base-font-size;
  font-weight: initial;
  margin: 0;
  -webkit-margin-after: initial;
  -webkit-margin-before: initial;
  -webkit-margin-end: initial;
  -webkit-margin-start: initial;
}



html, body {
    height: 100%;
    font-size: $base-font-size;
}

h1 {
  font-size: 48px;
  letter-spacing: 0;
  line-height: 60px;
  margin-bottom: 24px;
  color: $pale_aqua;
  font-family: 'Poiret One', sans-serif;
}

h2 {
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 24px;
  font-family: 'Poiret One', sans-serif;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.33333333rem;
  margin-bottom: 0.6666667rem;
  font-family: 'Poiret One', sans-serif;
}

h4 {
  font-size: 1rem;
  line-height: 1.25rem;
  margin-bottom: 0.625rem;
  font-family: 'Poiret One', sans-serif;
}

p {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 12px;
  font-family: 'Sree Krushnadevaraya', serif;
  color: $blue;
}

a {
	font-family: 'Poiret One', sans-serif;
	text-decoration: none;
}
