$pink: #FAC8CD;
$pale_aqua: #BFD7EA;
$aqua: #80FFE8;
$blue: #071233;
$white: #FCFFFD;

$small-break: 800px;
$medium-break: 1000px;
$large-break: 1400px;
$xlarge-break: 1600px;

$base-font-size: 24px;
